/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 10;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 85px;
  max-width: 100%;
  width: 100%;
}

header .logo {
  flex-grow: 2;
  font-size: 22px;
}

header nav {
  display: flex;
  flex-grow: 1;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 16px;
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: normal;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .desktop .button-tablet {
  display: none;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {

  header .content {
    height: 65px;
  }

  header .desktop .button-tablet {
    display: block;
    padding: 3px 8px;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
    border-radius: 4px;
  }

  header .content .logo {
    font-size: 16px;
    flex-grow: 1;
  }

  header .desktop a {
    font-size: 12px
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 450px) {

  header .content {
    height: 48px;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: 3px 8px;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-image: url('../images/banner-landingpage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#sign-up-cta {
  padding: 32px 80px 56px 80px;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin: 170px 100px;
}

#sign-up-cta .content {
  width: 410px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 50px;
}

#sign-up-cta h2 {
  font-size: 20px;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: 12px;
}

#sign-up-cta .button {
  margin-top: 26px;
  padding: 1.25rem 7.25rem;
}

@media only screen and (max-width: 760px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta {
    padding: 32px 0 56px 0;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 64px 5%;
  background-color: #f3f3f3;
  flex-direction: row;
}

.feature {
  flex: 1;
  padding: 32px 0 0;
  margin: 0px 19px;
  background-color: white;
}

.feature .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.image-container img {
  max-width: 100%;
}

.feature .content {
  height: auto;
  padding: 40px 30px;
  text-align: center;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 36px;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

@media only screen and (max-width: 760px) {
  #features-section {
    flex-flow: row;
    padding: 16px;
  }

  .feature {
    margin: 10px;
  }

  .feature .content {
    text-align: left;
  }

  .feature h2 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
  }

  .feature h3 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: normal;
  }
}

@media only screen and (max-width: 450px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 16px 0 0 0;
  }

  .feature .content {
    height: auto;
    padding: 16px 10px 17px 10px;
    text-align: center;
  }

  .feature h2 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: lighter;
  }

}

/* Filters Section */

#filters-section {
  padding: 64px 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 80px;
}

#filters-section .content h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  opacity: 1;
}

#filters-section .content h3 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: lighter;
  color: white;
  opacity: 0.8;
}

#filters-section .images-container {
  max-width: 100%;
  padding: 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media only screen and (max-width: 760px) {
  #filters-section {
    padding: 30px 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 28px;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
  }

  #filters-section .content h3 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
  }

  #filters-section .images-container {
    padding: 0;
  }
}

@media only screen and (max-width: 450px) {

  #filters-section .extra {
    display: none;
  }

  #filters-section .content h2 {
    font-size: 18px;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-weight: lighter;
  }

}

/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
  padding: 80px 0;
}

#quotes-section .content {
  display: flex;
  justify-content: center;
}

#quotes-section .quote {
  padding-right: 30px;
  font-family: "Palatino", serif;
  font-size: 30px;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section .quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 760px) {
  #quotes-section {
    padding: 10px;
  }

  #quotes-section .content {
    padding: 1.875rem .625rem;
    text-align: left;
    display: flex;
  }

  #quotes-section .quote {
    font-size: 22px;
    line-height: 1.4;
    padding-right: 0;
    width: 70%;
  }

  #quotes-section .quote-citation {
    padding-top: 1rem;
    margin: auto;
  }
}

@media only screen and (max-width: 450px) {
  #quotes-section .content {
    flex-flow: column;
  }

  #quotes-section .quote {
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    padding-right: 0;
    width: 100%;
  }
}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 24px 32px;
}

footer .content {
  color: white;
  display: flex;
  font-size: 12px;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: 10px;
  }
}
