/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================================= */


html {
    font-size: 18px;
    line-height: 1.4rem;
    font-family: Helvetica;
    width: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
}

main {
    width: 100%;
    height: 31rem;
    padding-top: 1rem;
}

.img-main {
    background-image: url('../images/glasses-bg.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.container-size {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.logo-title {
  display: flex;
  align-items: center;
}

.img-logo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 1.5rem;
    margin-right: 1rem;
}

.logo-title .title {
  font-size: 1rem;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: auto;
  color: white;
}

.menu span {
  padding-left: 2rem;
}

.hidden-home {
  display: none;
}

.banner {
  width: 100%;
  height: 27rem;
  position: relative;
}

.banner-box {
  padding: 1.5rem 5rem;
  background-color: white;
  display: inline-block;
  position: absolute;
  right: -2rem;
  top: 50%;
  margin-top: -2.5rem;
}

.banner-text {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  display: inline;
}

.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service-box {
  width: auto;
  height: 8rem;
  margin: 3rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img-exams {
  background-image: url('../images/paper-icon.png');
  background-size: 3.5rem auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img-fittings {
  background-image: url('../images/ruler-icon.png');
  background-size: 5rem auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img-delivery {
  background-image: url('../images/truck-icon.png');
  background-size: 3.5rem auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.business-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bus-box {
  width: 35%;
  margin: 0 5rem 5rem;
}

.bus-box h4 {
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer {
  background-color: azure;
  padding: 4rem;
  text-align: center;
  display: flex;
}

footer .img-logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  main {
    height: 22rem;
    padding-top: 0;
  }

  .banner {
    height: 15rem;
  }

  .banner-box {
    right: 2rem;
    padding: 1rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 470px) {

  .logo-title .title {
    display: none;
  }

  .menu {
    display: none;
  }

  .hidden-home {
    display: flex;
    text-align: right;
    padding-left: 2rem;
    color: white;
  }

  .container-size {
    width: auto;
  }

  main {
    height: 17rem;
    padding-top: 0;
  }

  .img-main {
    background-position: 20%;
  }

  .banner {
    height: 15rem;
  }

  .banner-box {
    padding: 0.75rem 4rem;
    width: 100%;
    right: 0;
    text-align: center;
    margin-top: 9rem;
    position: static;
  }

  .banner-text {
    font-size: 1rem;
    width: 100%;
  }

  .services {
    flex-direction: column;
    margin: 3.77rem;
  }

  .service-box {
    margin: 1.54rem;
    font-size: 0.77rem;
  }

  .business-info {
    flex-direction: column;
  }

  .bus-box {
    width: 100%;
    margin: 0;
  }

  .bus-box p {
    margin-bottom: 4rem;
    font-size: 0.77rem;
    padding: 0 0.5rem;
  }

  footer {
    justify-content: center;
    align-items: center;
  }

  footer .title {
    display: none;
  }

}
